# Database Configuration
DB_HOST=ep-yellow-morning-a156hhv6-pooler.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Uirt1B8REyAY
DB_URL=postgresql://neondb_owner:npg_Uirt1B8REyAY@ep-yellow-morning-a156hhv6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Server Configuration
PORT=3001
WS_PORT=8081

# Logging
LOG_LEVEL=info